html, body, #app {
    min-width: 100%;
    margin: 0;
    /* z-index: 4;
    /* position:relative;  */
    padding:0;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}

.app-container {
    min-height: 100%;
    min-width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-color: #fffef9;
    overflow-y: scroll;
    position:relative;
    height: 100%;
    overflow-x: hidden;
}


.waiting-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-height: 804px;
  z-index: 1000;
  overflow: auto;
}

.waiting-spinning {
  width: 240px;
  height: 330px;
  margin-top: 200px;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
  /* -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  backface-visibility: hidden;
  perspective: 1000px; */
  /* -webkit-animation:spin 5s linear infinite;
  -moz-animation:spin 5s linear infinite;
  animation:spin 5s linear infinite; */
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@-moz-keyframes spin { 70% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 70% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.body-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    overflow-y: scroll;
    position:relative;
    height: 100%;
}

.card-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  position: relative;
  width: 72%;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  width: 800px;
  overflow: visible;
  user-select: none;   
}

.clicker {
  width: 70px;
  height: 70px;
  overflow: auto;
  transform: rotate(90deg);
  z-index: 1000;
  margin-top: 370px;
}

.card {
  width: 80%;
  min-width: 50%;
  height: 420px;
  box-shadow: 6px 6px 6px rgba(0,0,0,0.6);
  opacity: 0.9;
  /* margin: 20px; */
  border-radius: 14px;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-left: 100px; */
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-content: center;

}

.postcard {
  width: 80%;
  min-width: 60%;
  height: 420px;
  box-shadow: 6px 6px 6px rgba(0,0,0,0.6);
  opacity: 0.9;
  margin-left: 20px;
  border-radius: 14px;
  border: .5px solid;
  display: flex;
  flex-direction: row;
  overflow: auto;
  background-color: white;
}

.p-left-container {
  width: 50%;
}

.p-vertical-line {
  border: .5px solid black;
  height: 370px;
  margin-top: 25px;

  margin-right: auto;
}

.text-box {
  width: 87%;
  margin-left: 6%;
  height: 260px;
  margin-top: 25px;
  display: table;
}

.p-text {
  font-family: Helvetica,  Arial,  sans-serif;
  font-size: 70%;
  line-height: 20px;
  display: table-cell;
}

b.p-bold {
  font-size: 70%;
}

b.p-small {
  font-size: 60%;
}



.note-timestamp {
  width: 30%;
  height: 15px;
  font-family: Helvetica, Arial, sans-serif;
  margin-right: auto;
  margin-left: 70%;
}

.text-box-right {

  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.dyk-quote {
  margin-top: 5px;
}

.p-top-right {
  height: 50%;
  display: flex;
  flex-direction: row;
}

.p-top-right-logo {
  margin-right: -20px;
  z-index: 1000;
  right: 0;
  margin-left: auto;
  overflow: auto;
  margin-top: -12px;
}

.p-logo {
  width: 90px;
  height: 130px;
}

.p-top-right-lines {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: 20px;
}

.p-horizontal-line{

  border: .5px solid;
  width: 100%;
  margin-top: 35px;
}

.p-long-horizontal-line{
  margin-right: auto;
  margin-left: 20px;
  border: .5px solid;
  width: 80%;
  margin-top: 35px;
}

.quote-container {
  top: 35%;
  /* margin: auto; */
  /* margin-left: 51px; */
  text-align: center;
  /* display: table; */
  z-index: 1000;
  position: absolute;
  width: 80%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.quote {
  /* display: table-cell; */
    position: absolute;
    font-size: 40px;
    font-family: 'Tangerine', cursive;
    background-color: rgba(103, 103, 107, 0.62);
    color: white;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 1000;
    display: table-cell;
}

.header-container {
    width: 100%;
    height: 160px;
    background-color: #9E9EF3;
    opacity: 0.9;
    background-image: linear-gradient(#9E9EF3, #fffef9);
}

.header {
    font-family: Helvetica,  Arial,  sans-serif;
    color: whitesmoke;
    padding-top: 26px;
    padding-left: 40px;
    font-size: 26px;
}

.header-smalltext-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: whitesmoke;
  padding-top: 26px;
  padding-left: 40px;

  font-family: Helvetica,  Arial,  sans-serif;

}

a {
  color: whitesmoke;
  text-decoration: none;
}

a:hover {
  color: #9E9EF3;
}

.header-smalltext {
  font-size: 14px;
  margin-right: 5px;
}

.header-link {
  font-size: 14px;
}

.logo{
    width: 140px;
    height: 200px;
    padding-left: 120px;
    margin-bottom: -140px;
    margin-left: 90px;

}


.logo:hover {
  /* animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform:  translateZ(0); */
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  backface-visibility: hidden;
  perspective: 1000px;
}

.card-container:hover {
  /* animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform:  translateZ(0); */
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  backface-visibility: hidden;
  perspective: 1000px;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@-webkit-keyframes pulse {
    25% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    75% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
  }
  
  @keyframes pulse {
    25% {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
    75% {
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
    }
  }

.footer-container {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    bottom: 0px;
    padding: 25px;
    background-color: #fffef9;
    /* clear: both; */
    position: relative;
    height: 22px; 
    margin-top: -0em; 
    /* position: relative; */
}


.footer-text {
    color:  #9E9EF3;
    font-family: Helvetica,  Arial,  sans-serif;
    font-size: 12px;
}

.info-everything {
  margin-top: 5px;
  left: 0;
  margin-right: auto;
}

.info-container {
  width: 80%;
  height: 418px;
  border-top-right-radius:  14px;
  border-bottom-right-radius:14px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-right: auto;
  background-color: white;
}

.info-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.temperature-container {
  width: 100%;
  height: 100px;
}

.title-table {
  display: table;
  width: 100%;
  height: 50px;
}

.title {
  display: table-cell;
  vertical-align: bottom;
  padding-left: 50px;
  line-height: 15px;
  padding-bottom: 5px;
  font-family: Helvetica,  Arial,  sans-serif;
  font-size: 16px;
}

.horizontal-line {
  text-align: center;
  width: 210px;
  border: .5px solid black;
  margin-left: 20px;
  margin-bottom: 6px;
}

.vertical-line {
  margin-top: 35px;
  height: 14px;
  border: .1px solid black;
  margin-left: -3px;
}

.temperature {
  height: 65px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.current-temp {
  margin: 14px;
  font-family: Helvetica,  Arial,  sans-serif;
  font-size: 45px;
}

.feels-like-container {
  margin-left: 15px;
  margin-top: 22px;
  height: 28px;
}

.feels-like-text {
  font-family: Helvetica,  Arial,  sans-serif;
  font-size: 12px;
}

.feels-like {
  margin-top: 4px;
  font-family: Helvetica,  Arial,  sans-serif;
  font-size: 12px;
  height: 12px;
}

.icon-container {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
}

.icon {
  width: 90px;
  height: 90px;
  margin-left: 8px;
}

.humidity-text {
  font-family: Helvetica,  Arial,  sans-serif;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 14.5%;
}

.humidity {
  margin-top: 4px;
}

.sound-info-container {
  width: 93%;
  height: 150px;
  border: 1px dashed;
  margin-top: 12%;
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  margin-right: auto;
  margin-left: 5px;
  background-color: #fcf7ce;
}

.now-playing {
  width: 100%;
  height: 25%;
  font-family: Helvetica,  Arial,  sans-serif;
  font-size: 14px;
  margin: 10px;
  font-size: 11px;
  color: #d2ab2c;
}


b.info-bold {
  font-style: inherit;
  line-height: 18px;
}

.play-circle {
  width: 30px;
  height: 30px;
  border-radius: 80%;
  border: 1px dashed black;
  /* margin: 50px; */
  cursor: pointer;
  margin-top: 70px;
}
.play {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 12px solid #f8c729;
  margin-left: 9px;
  margin-top: 7px;
}

.sound-inspo-container {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-left: auto;
}

.sound-info-line {
  display: flex;
  flex-direction: row;
}

b.inspo-bold, .inspo {
  font-style: inherit;
  font-size: 8px;
  margin-top: 5px;
  font-family: Helvetica, Arial, sans-serif;
  color: #d2ab2c;
  margin-left: 10px;
}

.inspo {

}

.track-text {
  font-family: 'Tangerine', cursive;
  font-size: 24px;
  margin-top: -2px;
  margin-left: 17%;
  color: #d2ab2c;
  margin-bottom: 8px;
}

.sound-icon {
  width: 40px;
  height: 40px;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
}
::selection {
  background: transparent; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: transparent; /* Gecko Browsers */
}