html, body, #app {
    min-width: 100%;
    min-height: 100%;
}

.app-container {
    min-height: 100%;
    min-width: 100%;
    position:absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.header-container {
    width: 100%;
    height: 120px;
    background-color: #9E9EF3;
}

.header {
    font-family: Helvetica,  Arial,  sans-serif;
    color: whitesmoke;
    padding-top: 26px;
    padding-left: 40px;
    font-size: 26px;
}

.logo {
    width: 165px;
    height: 230px;
    padding-top: 30px;
    padding-left: 60px;
}

.logo:hover {
  /* animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform:  translateZ(0); */
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  backface-visibility: hidden;
  perspective: 1000px;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@-webkit-keyframes pulse {
    25% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    75% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
  }
  
  @keyframes pulse {
    25% {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
    75% {
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
    }
  }

.footer-container {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    bottom: 0;
    position: absolute;
    padding: 25px;
}

.footer-text {
    color:  #9E9EF3;
    font-family: Helvetica,  Arial,  sans-serif;
    font-size: 12px;
}