html, body, #app {
    min-width: 100%;
    height: 100%;
    margin: 0;
    z-index: 4;
    overflow: hidden;
}

.app-container {
    min-height: 100%;
    min-width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    background-size: cover;
}


.waiting-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-height: 804px;
  z-index: 1000;
  overflow: auto;
}

.waiting-spinning {
  width: 240px;
  height: 330px;
  margin-top: 200px;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
  /* -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  backface-visibility: hidden;
  perspective: 1000px; */
  /* -webkit-animation:spin 5s linear infinite;
  -moz-animation:spin 5s linear infinite;
  animation:spin 5s linear infinite; */
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

@-moz-keyframes spin { 70% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 70% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.body-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card-container {
    margin-left: 20%;
    margin-right: auto;
    padding-right: 100px;
    margin-top: 80px;
    position: relative; 
    width: 72%;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: url('./images/whitebluebaby.png') 4 12, auto;
}

.card {
    width: 100%;
    min-width: 50%;
    height: 420px;
    box-shadow: 6px 6px 6px rgba(0,0,0,0.6);
    opacity: 0.9;
    margin: 20px;
    border-radius: 14px;
    background-repeat: no-repeat;
    background-size: cover;
}

.postcard {
  width: 100%;
  min-width: 50%;
  height: 420px;
  box-shadow: 6px 6px 6px rgba(0,0,0,0.6);
  opacity: 0.9;
  margin: 20px;
  border-radius: 14px;
  border: .5px solid;
  display: flex;
  flex-direction: row;
}

.p-left-container {
  width: 50%;
}
.p-vertical-line {
  height: 370px;
  border: .1px solid black;
  margin-top: 25px;

  margin-right: auto;
}

.text-box {
  width: 87%;
  margin-left: 6%;
  height: 260px;
  margin-top: 25px;
  display: table;
}

.p-text {
  font-family: Helvetica,  Arial,  sans-serif;
  font-size: .8vw;
  line-height: 20px;
  display: table-cell;
}

b {
  font-size: .6vw;
}

.note-timestamp {
  width: 30%;
  height: 15px;
  font-family: Helvetica, Arial, sans-serif;
  margin-right: auto;
  margin-left: 70%;
}

.text-box-right {

  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.dyk-quote {
  margin-top: 5px;
}

.p-top-right {
  height: 50%;
  display: flex;
  flex-direction: row;
}

.p-top-right-logo {
  margin-right: -20px;
  z-index: 1000;
  right: 0;
  margin-left: auto;
  overflow: auto;
  margin-top: -12px;
}

.p-logo {
  width: 90px;
  height: 130px;
}

.p-top-right-lines {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: 20px;
}

.p-horizontal-line{

  border: .5px solid;
  width: 100%;
  margin-top: 35px;
}

.p-long-horizontal-line{
  margin-right: auto;
  margin-left: 20px;
  border: .5px solid;
  width: 80%;
  margin-top: 35px;
}

.quote-container {
   width: 82.5%;
   top: 35%;
   margin: auto;
   text-align: center;
   display: table;
   z-index: 1000;
   position: absolute;
}

.quote {
  /* display: table-cell; */
  position: absolute; 
  font-size: 40px;
  font-family: 'Tangerine', cursive;
  background-color:rgba(103, 103, 107, 0.62);
  text-indent: 10px;
  color: white;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1000;
  display: table-cell;
}

.header-container {
    width: 100%;
    height: 120px;
    background-color: #9E9EF3;
}

.header {
    font-family: Helvetica,  Arial,  sans-serif;
    color: whitesmoke;
    padding-top: 26px;
    padding-left: 40px;
    font-size: 26px;
}

.logo-true {
    width: 140px;
    height: 200px;
    padding-top: 30px;
    padding-left: 120px;
    margin-bottom: -140px;
    margin-left: 90px;
}

.logo-false {

}

.logo-false:hover, .logo-true:hover {
  /* animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform:  translateZ(0); */
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  backface-visibility: hidden;
  perspective: 1000px;
}

.card-container:hover {
  /* animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform:  translateZ(0); */
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  backface-visibility: hidden;
  perspective: 1000px;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@-webkit-keyframes pulse {
    25% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
    75% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
  }
  
  @keyframes pulse {
    25% {
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }
    75% {
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
    }
  }

.footer-container {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    bottom: 0;
    position: absolute;
    padding: 25px;
    background-color: #FFFFFF;
}

.footer-text {
    color:  #9E9EF3;
    font-family: Helvetica,  Arial,  sans-serif;
    font-size: 12px;
}

.info-everything {
  margin-top: 5px;
  left: 0;
}

.info-container {
  width: 80%;
  height: 418px;

  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-right: auto;

}

.info-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.temperature-container {
  width: 100%;
  height: 100px;
}

.title-table {
  display: table;
  width: 100%;
  height: 50px;
}

.title {
  display: table-cell;
  vertical-align: bottom;
  padding-left: 50px;
  line-height: 15px;
  padding-bottom: 5px;
  font-family: Helvetica,  Arial,  sans-serif;
  font-size: 16px;
}

.horizontal-line {
  text-align: center;
  width: 210px;
  border: .4px solid black;
  margin-left: 20px;
}

.vertical-line {
  margin-top: 35px;
  height: 14px;
  border: .1px solid black;
  margin-left: -3px;
}

.temperature {
  height: 65px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.current-temp {
  margin: 14px;
  font-family: Helvetica,  Arial,  sans-serif;
  font-size: 45px;
}

.feels-like-container {
  margin-left: 15px;
  margin-top: 22px;
  height: 28px;
}

.feels-like-text {
  font-family: Helvetica,  Arial,  sans-serif;
  font-size: 12px;

}

.feels-like {
  margin-top: 4px;
  font-family: Helvetica,  Arial,  sans-serif;
  font-size: 12px;
  height: 12px;
}

.icon {
  width: 70px;
  height: 70px;
  margin-left: 8px;
}

